<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        
        <a class="page-link" href="{{ site.baseurl }}/">welcome</a>
        
        <a class="page-link" href="https://webdevholland.github.io/portfolio/projects/">projects</a>
        
        <a class="page-link" href="https://www.webdevholland.github.io/portfolio/more/">more</a>
        
        <a class="page-link" href="https://www.webdevholland.github.io/">blog</a>
                
      </div>
    </nav>

  </div>

</header>
